{% extends 'layout.html' %}

{% block body %}
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
{% endblock %}

{% block colone %}
    <h1>Below is a from containing a Hidden Field</h1>
    <form method="get">
      {{form.First_Name}}
      {{form.Last_Name}}
      {{form.Time_Stamp}}
      <input type="submit" value="submit">
    </form>
    {{message}}
    <br>
    <br>
{% endblock %}
