{% extends 'layout.html' %}

{% block body %}
    <p class="lead">Hash Prevention Method</p>
{% endblock %}

{% block colone %}
  
    <form id="myForm" method="post">
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" name="User_Name" id="username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="Email" id="email">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="Location" id="location"><br>
      </div>
        <input type="hidden" name="Hash" id="hash">
        <input type="button" onclick="myFunction()" value="Submit">
    </form>
      {{message}}

    <script type="text/javascript" src="{{ url_for('static', filename = 'hashes.min.js') }}"></script>
    <script type="text/javascript">
      function myFunction() {
        var username = document.getElementById('username').value
        var email = document.getElementById('email').value
        var location = document.getElementById('location').value

        var MD5 = new Hashes.MD5().hex(username+email+location)
        document.getElementById('hash').value = MD5
        document.getElementById("myForm").submit();
      }
    </script>
{% endblock %}

{% block coltwo %}

    <h1>Search for users based on location</h1>
    <form method="get">
      {{search.SearchKeyword}}
      <input type="submit" value="submit">
    </form>
    {% for i in result %}
        {{i.username}}
    {% endfor %}

{% endblock %}
