<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-ngZZrhEgN1Rw+Eiz3bD0nopbhvTAwzNg5ePjP2mhYmjHiTqG+ouPwi4ribjATEKe" crossorigin="anonymous">
    <title>HPP!</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">HPP Attacks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/parameterprecedence">Parameter Precedence</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/clienthpp">Client Side</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/serverhpp">Server Side</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/honeypot1">Honeypot1</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/yahoo">HPP simulation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/honeypot2">Hash</a>
          </li>
        </ul>
      </div>
      </nav>

      <div class="container" style="padding-top:  10px;">
        <div class="jumbotron">
          {% block body %}
          {% endblock %}
        </div>
      </div>

      <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6">
              {% block colone %}
              {% endblock %}
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6">
              {% block coltwo %}
              {% endblock %}
            </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
