{% extends 'layout.html' %}

{% block body %}
    <p class="lead">This page will demonstrate the parameter precedence in python application</p>
{% endblock %}


{% block colone %}

    <p>Choose your prefered locations</p>
    <form method="get">
      <input type="checkbox" id="one" name="location" value="Chicago">
      <label for="one">Chicago</label><br>
      <input type="checkbox" id="two" name="location" value="Seattle">
      <label for="two">Seattle</label><br>
      <input type="checkbox" id="three" name="location" value="New york">
      <label for="three">New york</label><br>
      <input type="submit" value="submit">
    </form>


{% endblock %}

{% block coltwo %}

<p>The selected locations</p>
{{message}}

{% endblock %}
