{% extends 'layout.html' %}

{% block body %}
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
{% endblock %}


{% block colone %}

  <form  method="post">
    <p>use this form</p>
    <input type="radio" name="poll_id" value="1">
    <input type="radio" name="poll_id" value="2">
    <input type="radio" name="poll_id" value="3">
    <input type="submit" value="submit">

  </form>


      <a href="/voting">poll 1</a><br>
      <a href="/voting?poll_id=2">poll 2</a><br>
      <a href="/voting?poll_id=3">poll 3</a><br>

{% endblock %}

{% block coltwo %}

<p> Your vote is for: </p>

<form method="get">

  <input type="submit" value="submit">
</form>

{{message}}

{% endblock %}
