{% extends 'layout.html' %}

{% block body %}
    <p class="lead"> Select the poll</p>
{% endblock %}


{% block colone %}


{% endblock %}

{% block coltwo %}

<p>Output</p>
{{fname}}
{{lname}}

{% endblock %}
