{% extends 'layout.html' %}

{% block body %}
    <p class="lead">List of students in the computer science department</p>
{% endblock %}


{% block colone %}

{% for i in result %}
    <a href='studentlist/{{i.id}}?{{query}}&action=view'>click to view details about {{i.name}}</a><br>
{% endfor %}

{% endblock %}

{% block coltwo %}

{{message}}

{% endblock %}
