{% extends 'layout.html' %}

{% block body %}
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
{% endblock %}

{% block colone %}
    <h1>User registers for an exam</h1>
    <form method="post">
      {{register.User_Name}}
      {{register.Email}}
      {{register.Location}}
      <input type="submit" value="submit">
    </form>
        {{message}}
{% endblock %}


{% block coltwo %}

    <h1>Search for users based on location</h1>
    <form method="get">
      {{search.SearchKeyword}}
      <input type="submit" value="submit">
    </form>
    {% for i in result %}
        {{i.username}}
    {% endfor %}

{% endblock %}
