{% extends 'layout.html' %}

{% block body %}
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
{% endblock %}


{% block colone %}

    <h3><a href="/selectcandidate?poll_id={{poll_id}}&candidate=Justin">Vote for Justin</a></h3>
    <br>
    <h3><a href="/selectcandidate?poll_id={{poll_id}}&candidate=Singh">Vote for Singh</a></h3>
    <br>
    <h3><a href="/selectcandidate?poll_id={{poll_id}}&action=delet&candidate=Trump">Vote for Trump</a></h3>
    <small>malacious</small>

{% endblock %}

{% block coltwo %}

<p> Your vote is for: </p>

<form method="get">

  <input type="submit" value="submit">
</form>

{{message}}

{% endblock %}
