{% extends 'layout.html' %}

{% block body %}
    <p class="lead">Simulation of HHP attack on Yahoo Mail</p>
{% endblock %}


{% block colone %}

    <form method="get">
      <a href="/studentlist?branch=cs">Students List</a>
      <br>
      <a href="/studentlist?branch=cs%26action%3Ddelete">Students List</a> <small style="color:red;">malacious</small>
    </form>

{% endblock %}
